$font-stack-serif: 'Times New Roman', Times, serif;

.header__container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 15px 20px;
   background: #fff;
   box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.header__logo {
   margin: auto;
}

.back__icon, .search__icon {
   font-size: 20px;
   cursor: pointer;
}

.header-search__container {
   position: absolute;
   top: 68px;
   margin: 0 auto;
   width: 100%;
   padding: 15px 0;
   background: #eee;
   z-index: 200;
}

.header-search__form {
   display: flex;
   margin: 0 auto;
   width: 80%;
   max-width: 500px;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   input {
      padding: 10px 10px 10px 20px;
      font-size: 15px;
      color: #000;
      outline: none;
      border: none;
      &:focus {
         border: 2px solid #22C9D4;
      }
   }
   button {
      padding: 10px 15px;
      border-radius: 3px;
      background: #E06166;
      font-size: 17px;
      color: #fff;
   }
}

// Index styling
.carousel__book-container {
   padding: 25px 15px;
   border-bottom: 1px solid #ddd;
}

.carousel__book-list {
   display: flex;
   flex-direction: row;
   overflow-x: scroll;
}

.carousel__title {
   margin-bottom: 25px;
   font-size: 24px;
   letter-spacing: -1px;
   font-weight: 600;
   font-family: $font-stack-serif;
}

.carousel__item {
   margin-right: 25px;
   width: 100px;
   max-width: 200px;
   font-family: $font-stack-serif;
}

.carousel__cover {
   width: 100%;
   box-shadow: 0 0px 7px 1px rgba(0, 0, 0, 0.2);
}

.carousel__item--title {
   margin-bottom: 10px;
   font-size: 18px;
   font-weight: 600;
   color: #000;
}

.carousel__item--author {
   font-size: 16px;
   color: #555;
   line-height: 120%;
}

.carousel-meta__content {
   padding: 15px 0 0;
}

// Detail Page styling
.detail__header {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   position: relative;
   padding: 30px 15px;
   background: #f9f9f9;
   header {
      max-width: 500px;
      margin-bottom: 20px;
   }
}

.detail__head-img {
   margin-right: 25px;
   box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
   img {
      width: 100%;
      height: 100%;
   }
}

.detail__head-title {
   margin-bottom: 15px;
   font-weight: 600;
   font-size: 28px;
   font-family: $font-stack-serif;
}

.detail__head-author {
   margin-bottom: 10px;
   font-family: $font-stack-serif;
   font-size: 18px;
   line-height: 120%;
   color: #444;
}

.detail__head-cat {
   font-size: 15px;
   color: #444;
}

.detail__head-btn {
   position: absolute;
   bottom: 15%;
   padding: 7px 20px;
   font-size: 17px;
   border-radius: 5px;
   border: none;
   background: #E06166;
   cursor: pointer;
   &:hover {
      background: #cf171d;
   }
   a {
      color: #fff;
   }
}

.detail__head-pages {
   font-size: 14px;
   color: #555;
}

.detail__description {
   padding: 35px 20px;
   .main__title {
      margin-bottom: 20px;
      font-family: $font-stack-serif;
      font-size: 30px;
      font-weight: 600;
   }
}

.detail__main-content {
   padding-bottom: 25px;
   line-height: 145%;
   font-size: 17px;
   color: #333;
   border-bottom: 1px solid #eee;
}

.detail__meta-content {
   padding: 0 20px;
   .main__title {
      margin-bottom: 10px;
      letter-spacing: -1px;
      font-size: 26px;
      font-weight: 600;
      font-family: $font-stack-serif;
   }
}

.meta__content-items {
   padding: 40px 0 25px;
   font-family: $font-stack-serif;
   .meta__item {
      margin-bottom: 15px;
      font-size: 19px;
      strong {
         font-weight: 600;
      }
   }
}

.detail__meta-cta {
   padding: 8px 35px;
   border-radius: 5px;
   font-display: 18px;
   font-size: 17px;
   border: none;
   margin-top: 20px;
   background: #22C9D4;
   cursor: pointer;
   &:hover {
      background: #333;
   }
   a {
      color: #fff;
   }
}

// Search Page styling
.search__head {
   padding: 25px;
   font-size: 18px;
   strong {
      font-weight: 600;
   }
}

.search__query {
   margin-bottom: 20px;
}


.search__result {
   &-item {
      .flex__container {
         display: flex;
         flex-direction: row;
         align-items: center;
      }
      margin: 0 auto 25px;
      max-width: 500px;
      padding: 10px 15px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 7px 2px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &-img {
      flex: 1;
      margin-right: 15%;
      img {
         width: 100%;
      }
   }
   &-content {
      flex: 3;
   }
   &-title {
      margin-bottom: 10px;
      color: #000;
      font-size: 19px;
      font-weight: 600;
   }
   &-author {
      margin-bottom: 5px;
      font-style: italic;
      color: #555;
   }
   &-date {
      color: #555;
   }
   .icon {
      color: #000;
   }
}

.search__results-container {
   padding: 35px 20px;
   background: #f5f5f5;
}

// Additional stylings
.overlay__background {
   position: absolute;
   top: 100px;
   bottom: 0;
   margin: 0 auto;
   width: 100%;
   z-index: 100;
   height: 100%;
   background: rgba(0, 0, 0, 0.75);
}